<div>
  <div class="container">
    <div class="justify-between mt-3 mb-3">
      <h3 class="mt-2">
        {{ "gestion_horarios.encabezado_4" | translate }}
      </h3>
      <button mat-flat-button color="primary" (click)="volverASelectsParametrizables()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        {{ 'GLOBAL.regresar' |translate }}
      </button>
    </div>
  </div>
  <mat-card-content>
    <ng-container>
      <div class="alert info class mt-3">
        <mat-icon class="icon">info</mat-icon>
        <span>{{ 'gestion_horarios.mensaje_inicial_4' | translate }}</span>
      </div>
      <div class="contenedor mt-2 mb-3">
        <div class="card">
          <div class="row center-v">
            <div class="col-4 display-block">
              <mat-icon color="primary">folder_open</mat-icon>
              <p>
                <strong>{{ "gestion_horarios.proyecto_academico" | translate }}</strong><br>
                {{dataParametrica.proyecto.Nombre}}
              </p>
            </div>
            <div class="col-4 display-block">
              <mat-icon color="primary">school</mat-icon>
              <p>
                <strong>{{ "gestion_horarios.plan_estudios" | translate }}</strong><br>
                {{dataParametrica.planEstudio.Nombre}}
              </p>
            </div>
            <div class="col-4 display-block">
              <mat-icon color="primary">today</mat-icon>
              <p>
                <strong>{{ "gestion_horarios.semestre" | translate }}</strong><br>
                {{dataParametrica.periodo.Nombre}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <mat-vertical-stepper #stepper [linear]="false" class="principal-stepper">
        <mat-step>
          <ng-template matStepLabel>{{"gestion_horarios.label_gestion" | translate}}</ng-template>
          <div class="alert info class mt-3">
            <mat-icon class="icon">info</mat-icon>
            <span>{{ "gestion_horarios.mensaje_inicial_5" | translate }}</span>
          </div>
          <form [formGroup]="formPaso1">
            <div class="row mt-3">
              <ng-container *ngFor="let field of selectsPasoUno">
                <mat-form-field class="col-6" appearance="outline">
                  <mat-label>{{ field.label | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>{{ field.icon }}</mat-icon>
                  <mat-select [formControlName]="field.name"
                    (selectionChange)="field.onChange && this[field.onChange]($event.value)">
                    <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                    <mat-option *ngFor="let item of this[field.options]" [value]="item">{{ item.Nombre
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </div>

            <div class="button-stepper">
              <button mat-flat-button color="primary" matStepperNext>
                {{ "gestion_horarios.siguiente_especidfico" | translate }}
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form [formGroup]="formPaso2">
            <ng-template matStepLabel>{{"gestion_horarios.header_especifico" | translate}}</ng-template>
            <div class="row mt-3">
              <ng-container *ngFor="let field of selectsPasoDos">
                <mat-form-field class="col-6" appearance="outline">
                  <mat-label>{{ field.label | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>{{ field.icon }}</mat-icon>
                  <mat-select [formControlName]="field.name"
                    (selectionChange)="field.onChange && this[field.onChange]($event.value)">
                    <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                    <mat-option *ngFor="let item of this[field.options]" [value]="item">{{ item.Nombre }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-container>
                <mat-form-field class="col-6" appearance="outline">
                  <mat-label>{{ "gestion_horarios.digite_horas" | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>alarm</mat-icon>
                  <input formControlName="horas" type="number" matInput >
                </mat-form-field>
              </ng-container>
            </div>

            <button mat-flat-button color="primary" (click)="enviarInfoParaColocacion()" matStepperNext>
              {{ "GLOBAL.siguiente" | translate }}
            </button>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{"gestion_horarios.header_2_horaria" | translate}}</ng-template>
          <div class="row">
            <div class="col-12">
              <udistrital-horario 
                [infoEspacio]="infoEspacio"
                [infoAdicionalColocacion]="infoAdicionalColocacion"
                (banderaNuevoEspacio)="nuevoEspacio($event)"
                *ngIf="banderaHorario" ></udistrital-horario>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </ng-container>
  </mat-card-content>
</div>