.mat-column-espacio_academico {
    width: 30%;
}

.mat-column-grupo {
    width: 20%;
}

.mat-column-horario {
    width: 20%;
}

.mat-column-salon {
    width: 15%;
}

.mat-column-acciones {
    width: 15%;
    text-align: center;
}