.contenedor {
  display: flex;
  max-height: 10%;
  width: 100%;
  border-radius: 10px;
}

.contenedor-tabla {
  padding: 20px;
  border: 0.5px solid #ddd;
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 8px;
  border: 0.5px solid #03668e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s ease-in-out;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.display-block {
  display: block;
  text-align: center;
}

.mat-column-codigo {
  width: 15%;
}

.mat-column-capacidad {
  width: 5%;
  text-align: right;
  padding-right: 40px;
}

.mat-column-espacio_academico {
  width: 65%;
}

.mat-column-acciones {
  width: 15%;
  text-align: center;
}

.icono{
  color: #5d5d5d;
}

.icono:hover{
  cursor: pointer;
}

.icono-editar:hover{
  color: #03668e;
}

.icono-eliminar:hover{
  color: #c86885;
}
