<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ 'gestion_horarios.encabezado_3' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container>
      <div class="alert info class mt-3">
        <mat-icon class="icon">info</mat-icon>
        <span>{{ 'gestion_horarios.mensaje_inicial_3' | translate }}</span>
      </div>


      <div class="contenedor">
        <div class="card">
          <div class="row center-v">
            <div class="col-4 center-v center-h">
              <mat-icon color="primary">folder_open</mat-icon>
              <p class="ml-3 mb-0"><strong>Proyecto Académico</strong><br>Doctorado interinstitucional en educación</p>
            </div>
            <div class="col-4 center-v center-h">
              <mat-icon color="primary">school</mat-icon>
              <p class="ml-3 mb-0"><strong>Plan de estudios</strong><br>Plan 2 ciclo</p>
            </div>
            <div class="col-4 center-v center-h">
              <mat-icon color="primary">blur_linear</mat-icon>
              <p class="ml-3 mb-0"><strong>Semestre académico</strong><br>Primer semestre</p>
            </div>
          </div>
        </div>
      </div>
      

      <mat-vertical-stepper #stepper [linear]="false">
        <mat-step>
          <ng-template matStepLabel>{{ 'gestion_horarios.header_grupos' | translate }}</ng-template>
          <!-- <ng2-smart-table [settings]="tbDiponibilidadHorarios" [source]="dataPlanesEstudio"></ng2-smart-table> -->
          <div class="button-stepper">
            <button mat-flat-button color="primary" matStepperNext>{{ 'gestion_horarios.crear' | translate }}</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{ 'gestion_horarios.header_crear_grupo' | translate }}</ng-template>
          <mat-vertical-stepper #stepper [linear]="false">
            <mat-step [stepControl]="formStep1" errorMessage="{{ 'GLOBAL.diligenciar_paso' | translate }}">
              <!-- <ng-template matStepLabel>{{ 'gestion_horarios.header_1_crear_grupo' | translate }}</ng-template>
              <div class="contenedor">
                <div class="contenido">
                  <mat-form-field style="width: 70%;">
                    <mat-label>{{ 'gestion_horarios.select_espacio' | translate }}</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let temp of temporal" [value]="temp.value">{{ temp.viewValue }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  &nbsp;
                </div>
                <div class="contenido">
                  <mat-form-field style="width: 70%;">
                    <mat-label>{{ 'gestion_horarios.select_espacio_2' | translate }}</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let temp of temporal" [value]="temp.value">{{ temp.viewValue }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
              <button mat-flat-button color="primary" matStepperNext>{{ 'GLOBAL.siguiente' | translate }}</button>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>{{ 'gestion_horarios.header_2_crear_grupo' | translate }}</ng-template>
              <div class="contenedor">
                <div class="contenido">
                  <mat-form-field style="width: 60%;">
                    <mat-label>{{ 'gestion_horarios.label_1_codificacion' | translate }}</mat-label>
                    <input matInput>
                  </mat-form-field>
                  &nbsp;
                </div>
                <div class="contenido">
                  <mat-form-field style="width: 60%;">
                    <mat-label>{{ 'gestion_horarios.label_2_codificacion' | translate }}</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="contenido">
                  <mat-form-field style="width: 70%;">
                    <mat-label>{{ 'gestion_horarios.label_3_codificacion' | translate }}</mat-label>
                    <input matInput disabled value="GRUPO05">
                  </mat-form-field>
                </div>
              </div>
              <mat-form-field style="width: 100%;">
                <mat-label>{{ 'gestion_horarios.label_4_codificacion' | translate }}</mat-label>
                <input matInput>
              </mat-form-field>
            </mat-step>
          </mat-vertical-stepper>
        </mat-step>
      </mat-vertical-stepper>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="to_main_component()">{{ 'GLOBAL.salir' | translate }}</button>
  </mat-card-actions>
</mat-card>