<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ "gestion_horarios.encabezado_gestion" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container [ngSwitch]="vista">
      <ng-container *ngSwitchCase="VIEWS.LIST">
        <div class="alert info class mt-3">
          <mat-icon class="icon">info</mat-icon>
          <span>{{ "gestion_horarios.mensaje_gestion" | translate }}</span>
        </div>

        <h3>{{ "gestion_horarios.label_gestion" | translate }}</h3>

        <!-- ------------------------------------------------ -->
        <mat-vertical-stepper #stepper [linear]="false">
          <mat-step
            [stepControl]="formStep1"
            errorMessage="{{ 'GLOBAL.diligenciar_paso' | translate }}"
          >
            <ng-template matStepLabel>{{
              "gestion_horarios.header_parametros" | translate
            }}</ng-template>
              <div class="row mt-3">
              
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>{{ 'ptd.select_nivel' | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>layers_icon</mat-icon>
                  <mat-select (selectionChange)="cargarSubnivelesSegunNivel($event.value)" [(ngModel)]="nivel" required>
                    <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                    <mat-option *ngFor="let item of niveles" [value]="item">
                      {{item.Nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>{{ 'ptd.select_subnivel' | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>sort</mat-icon>
                  <mat-select (selectionChange)="cargarProyectosSegunSubnivel($event.value)" [(ngModel)]="subnivel" required>
                    <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                    <mat-option *ngFor="let item of subniveles" [value]="item">
                      {{item.Nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>{{ 'ptd.select_proyecto_curricular' | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>folder_open</mat-icon>
                  <mat-select (selectionChange)="cargarPlanesEstudioSegunProyectoCurricular($event.value)" [(ngModel)]="proyecto" required>
                    <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                    <mat-option *ngFor="let item of proyectos" [value]="item">
                      {{item.Nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>{{ 'ptd.select_plan_estudios' | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>school</mat-icon>
                  <mat-select [(ngModel)]="planEstudio" required>
                    <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                    <mat-option *ngFor="let item of planesEstudios" [value]="item">
                      {{item.Nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>{{ 'ptd.select_periodo_academico' | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>today</mat-icon>
                  <mat-select [(ngModel)]="periodo" required>
                    <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                    <mat-option *ngFor="let item of periodos" [value]="item">
                      {{item.Nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>{{ 'ptd.select_semestre_academico' | translate }}</mat-label>
                  <mat-icon class="mat-icon-outlined" color="primary" matPrefix>blur_linear</mat-icon>
                  <mat-select [(ngModel)]="semestre" required>
                    <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                    <mat-option *ngFor="let item of semestres" [value]="item">
                      {{item.Nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

            </div>

            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{ "gestion_horarios.calendario_gestion" | translate }}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="alert info class mt-3">
                  <mat-icon class="icon">info</mat-icon>
                  <span>{{ "gestion_horarios.mensaje_calendario" | translate }}</span>
                </div>

                <div class="form-grid2">
                  <div class="form-col2">
                    <mat-form-field style="width: 100%">
                      <mat-label
                        >{{
                          "gestion_horarios.select_calendario" | translate
                        }}:</mat-label
                      >
                      <mat-select
                        placeholder="{{ 'GLOBAL.seleccionar' | translate }}"
                        [(ngModel)]="periodos"
                        (selectionChange)="selectCalendario($event)"
                      >
                        <mat-option
                          >--{{
                            "GLOBAL.seleccionar" | translate
                          }}--</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="form-col1">
                    <mat-form-field style="width: 100%">
                      <mat-label
                        >{{
                          "gestion_horarios.elije_fecha_inicio" | translate
                        }}:</mat-label
                      >
                      <input matInput [matDatepicker]="Fecha_inicial" />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="Fecha_inicial"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #Fecha_inicial></mat-datepicker>
                      <mat-error>{{
                        "notas.fecha_invalida" | translate
                      }}</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="form-col1">
                    <mat-form-field style="width: 100%">
                      <mat-label
                        >{{
                          "gestion_horarios.elije_fecha_final" | translate
                        }}:</mat-label
                      >
                      <input matInput [matDatepicker]="Fecha_final" />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="Fecha_final"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #Fecha_final></mat-datepicker>
                      <mat-error>{{
                        "notas.fecha_invalida" | translate
                      }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

            <div class="button-stepper margin-y">
              <button mat-flat-button color="primary" matStepperNext>
                {{ "GLOBAL.siguiente" | translate }}
              </button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{
              "gestion_horarios.suite" | translate
            }}</ng-template>
              <div class="info margin-y">
                {{ "gestion_horarios.mensaje_suite" | translate }}
              </div>
            <div class="contenedor botones-cont">
              <div class="contenido_boton">
                <div class="example-button-container">
                  <button
                    mat-flat-button
                    color="primary"
                    (click)="cambioSuiteGeneral('gestionGrupos')"
                    style="width: 100%; height: 100%"
                  >
                    <div class="outer-div">
                      <mat-icon class="icon-display"
                        >supervisor_account</mat-icon
                      >
                      <span>{{ "gestion_horarios.boton_1" | translate }}</span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="contenido_boton">
                <div class="example-button-container">
                  <button
                    mat-flat-button
                    color="primary"
                    (click)="cambioSuiteGeneral('registrarHorario')"
                    style="width: 100%; height: 100%"
                  >
                    <div class="outer-div">
                      <mat-icon class="icon-display">assignment</mat-icon>
                      <span>{{ "gestion_horarios.boton_2" | translate }}</span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="contenido_boton">
                <div class="example-button-container">
                  <button
                    mat-flat-button
                    color="primary"
                    style="width: 100%; height: 100%"
                    (click)="cambioSuiteGeneral('copiarHorario')"
                  >
                    <div class="outer-div">
                      <mat-icon class="icon-display">view_carousel</mat-icon>
                      <span>{{ "gestion_horarios.boton_3" | translate }}</span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="contenido_boton">
                <div class="example-button-container">
                  <button
                    mat-flat-button
                    color="primary"
                    style="width: 100%; height: 100%"
                    (click)="cambioSuiteGeneral('listarHorarios')"
                  >
                    <div class="outer-div">
                      <mat-icon class="icon-display">list</mat-icon>
                      <span>{{ "gestion_horarios.boton_4" | translate }}</span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="contenido_boton">
                <div class="example-button-container">
                  <button
                    mat-flat-button
                    color="primary"
                    style="width: 100%; height: 100%"
                  >
                    <div class="outer-div">
                      <mat-icon class="icon-display">save_alt</mat-icon>
                      <span>{{ "gestion_horarios.boton_5" | translate }}</span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-vertical-stepper>
        <!-- ------------------------------------------------ -->

        <udistrital-gestion-grupos *ngIf="banderaGestionGrupos">
        </udistrital-gestion-grupos>

        <udistrital-registro-horarios *ngIf="banderaRegistrarHorario">
        </udistrital-registro-horarios>

        <udistrital-copiar-horario *ngIf="banderaCopiarHorario">
        </udistrital-copiar-horario>

        <udistrital-listar-horarios *ngIf="banderaListarHorarios">
        </udistrital-listar-horarios>

      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
