.contenedor {
  display: flex;
  flex-wrap: wrap;
  max-height: 10%;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.contenido_boton {
  flex: 1 1 18%;
  min-width: 160px;
  max-width: 250px;
}

.card {
  background: #fff;
  border-radius: 8px;
  border: 0.5px solid #03668e;
  overflow: hidden;
  text-align: center;
  height: 100%;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.card:hover {
  transform: translateX(-1px) translateY(-5px);
  box-shadow: 6px 6px 6px 6px rgba(3, 102, 142, 0.1);
}

.icon-display {
  font-size: 25px;
  color: #03668e;
}

.card-content {
  padding: 20px;
}

.card-heading {
  font-size: 1em;
  margin: 0;
}

.card-description {
  color: #757575;
  font-size: 0.9em;
  margin-top: 8px;
  padding: 5px;
}

hr {
  color: #ff5733;
}
