

  .dialogo{
    height: 100%;
    width: 100%;
  }


.mat-stepper-horizontal {
  margin: 20px 0;
}

.mat-form-field.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.shadow{
  box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.3);
}

.boton{
  border: 1px solid #03668e;
  height: 55px;
}

.carta-espacio{
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.column-container {
  display: flex;
  flex-wrap: wrap; /* Para que los elementos se envuelvan en múltiples líneas si no caben en una sola fila */
}

.column-item {
  flex-basis: 33%; /* Cada elemento ocupa el 25% del ancho disponible, creando así 4 columnas */
  padding: 10px; /* Añade un poco de espacio entre los elementos, ajusta según tus necesidades */
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
}

.scrollable-content {
  margin-top: 100px; /* Adjust this value based on the height of your header */
  flex-grow: 1;
  overflow-y: auto;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
}
