<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ "gestion_horarios.encabezado" | translate }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ "gestion_horarios.label" | translate }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div [ngSwitch]="vista">
      <ng-container *ngSwitchCase="VIEWS.LIST">
        <div class="alert info class mt-3">
          <mat-icon class="icon">info</mat-icon>
          <span>{{ "gestion_horarios.mensaje_inicial" | translate }}</span>
        </div>
        <mat-vertical-stepper #stepper [linear]="false">
          <mat-step [stepControl]="formStep1" errorMessage="{{ 'GLOBAL.diligenciar_paso' | translate }}">
            <ng-template matStepLabel>{{
              "gestion_horarios.header_parametros" | translate
              }}</ng-template>

            <div class="row mt-3">
              <form [formGroup]="formStep1">
                <ng-template matStepLabel>{{ "gestion_horarios.header_parametros" | translate }}</ng-template>
                <div class="row mt-3">
                  <ng-container *ngFor="let field of selectsParametrizados">
                    <mat-form-field class="col-4" appearance="outline">
                      <mat-label>{{ field.label | translate }}</mat-label>
                      <mat-icon class="mat-icon-outlined" color="primary" matPrefix>{{ field.icon }}</mat-icon>
                      <mat-select [formControlName]="field.name"
                        (selectionChange)="field.onChange && this[field.onChange]($event.value)">
                        <mat-option disabled value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                        <mat-option *ngFor="let item of this[field.options]" [value]="item">{{ item.Nombre
                          }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>
                </div>
                <div class="button-stepper">
                  <button mat-flat-button color="primary" matStepperNext [disabled]="!formStep1.valid">
                    {{ "GLOBAL.siguiente" | translate }}
                  </button>
                </div>
              </form>
            </div>
            <!-- <div class="form-grid3">
              <div *ngFor="let campo of formDef.campos_p1" [class]="campo.claseGrid">
                <ng-container [ngSwitch]="campo.etiqueta">
                  <ng-container *ngIf="!(campo.ocultar ? campo.ocultar : false)">
                    <mat-form-field *ngSwitchCase="'select'" floatLabel="always">
                      <mat-label>{{
                        campo.label_i18n | translate
                        }}</mat-label>
                      <mat-select [formControlName]="campo.nombre" placeholder="{{ 'GLOBAL.seleccionar' | translate }}"
                        [disabled]="
                            campo.sololectura ? campo.sololectura : false
                          ">
                        <mat-option>{{
                          "GLOBAL.seleccionar" | translate
                          }}</mat-option>
                        <mat-option *ngFor="let opcion of campo.opciones" [value]="opcion">{{ opcion.Nombre
                          }}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="formStep1.get(campo.nombre)?.touched && formStep1.get(campo.nombre)?.errors?.['required']">{{
                        "GLOBAL.falta_campo" | translate }}</mat-error>
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </div>
            </div> -->
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{
              "gestion_horarios.header_resultados" | translate
              }}</ng-template>
            <div class="alert info class mt-3">
              <mat-icon class="icon">info</mat-icon>
              <span>{{ "gestion_horarios.mensaje_tabla" | translate }}</span>
            </div>
            <div class="mat-elevation-z8 table-container">
              <table mat-table [dataSource]="dataSource" matSort>
                <!-- Index Column -->
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.index }}
                  </td>
                </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "gestion_horarios.codigo" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.nombre }}
                  </td>
                </ng-container>

                <!-- Código Column -->
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "gestion_horarios.espacio_academico" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.codigo }}
                  </td>
                </ng-container>

                <!-- Estado Column -->
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "GLOBAL.estado" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.estado }}
                  </td>
                </ng-container>

                <!-- Grupo Column -->
                <ng-container matColumnDef="grupo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "gestion_horarios.grupo" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.grupo }}
                  </td>
                </ng-container>

                <!-- Cupos Column -->
                <ng-container matColumnDef="cupos">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "gestion_horarios.cupos" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.cupos }}
                  </td>
                </ng-container>

                <!-- Inscritos Column -->
                <ng-container matColumnDef="inscritos">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "gestion_horarios.inscritos" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.inscritos }}
                  </td>
                </ng-container>

                <!-- Disponibles Column -->
                <ng-container matColumnDef="disponibles">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "gestion_horarios.disponibles" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.disponibles }}
                  </td>
                </ng-container>

                <!-- Acciones -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.acciones" | translate }}</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent" (click)="editElement(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteElement(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>